<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Articulo">
    
    <select id="getArticulos" resultType="modelo.beans.Articulo">
        SELECT 
        articulo.idArticulo, 
        articulo.Prenda_idPrenda AS idPrenda, 
        articulo.categoria AS idCategoria, 
        categorias.nombre AS nombreCategoria, 
        articulo.descripcion, 
        articulo.precio, 
        articulo.comercializacion_idComercializacion AS idComercializacion, 
        articulo.tipoProducto AS idTipoProducto, 
        categorias2.nombre AS nombreTipoProducto, 
        articulo.deBaja, 
        articulo.vendido 
        FROM empenio.articulo 
        LEFT OUTER JOIN empenio.categorias ON articulo.categoria = categorias.idCategoria 
        LEFT OUTER JOIN empenio.categorias AS categorias2 ON articulo.tipoProducto = categorias2.idCategoria;
    </select>
    
    <select id="busqueda" resultType="modelo.beans.Articulo" parameterType="string">
        SELECT 
        articulo.idArticulo, 
        articulo.Prenda_idPrenda AS idPrenda, 
        articulo.categoria AS idCategoria, 
        categorias.nombre AS nombreCategoria, 
        articulo.descripcion, 
        articulo.precio, 
        articulo.comercializacion_idComercializacion AS idComercializacion, 
        articulo.tipoProducto AS idTipoProducto, 
        categorias2.nombre AS nombreTipoProducto, 
        articulo.deBaja, 
        articulo.vendido 
        FROM empenio.articulo 
        LEFT OUTER JOIN empenio.categorias ON articulo.categoria = categorias.idCategoria 
        LEFT OUTER JOIN empenio.categorias AS categorias2 ON articulo.tipoProducto = categorias2.idCategoria 
        WHERE ${value};
    </select>
    
    <select id="getTiposProducto" resultType="modelo.beans.TipoProducto" >
        SELECT categorias.idCategoria, categorias.nombre, categorias.Categorias_IdCategoria 
        FROM empenio.categorias 
        WHERE Categorias_idCategoria = 2 OR Categorias_idCategoria = 3;
    </select>
    
    <insert id="registrar" parameterType="map">
        INSERT INTO 
        empenio.articulo
            (prenda_idPrenda,
            categoria,
            descripcion,
            precio,
            comercializacion_idComercializacion,
            tipoProducto,
            deBaja,
            vendido)
        VALUES
            (#{idPrenda},
            #{idCategoria},
            #{descripcion},
            #{precio},
            #{idComercializacion}, 
            #{idTipoProducto}, 
            0,
            0);
    </insert>
    
    
    <update id="actualizar" parameterType="map">
        UPDATE empenio.articulo 
        SET
            categoria = #{idCategoria},
            descripcion = #{descripcion},
            precio = #{precio},
            tipoProducto = #{idTipoProducto}
        WHERE idArticulo = #{idArticulo};
    </update>
    
    <update id="darDeBaja" parameterType="integer" >
        UPDATE empenio.articulo
        SET
            deBaja = 1 
        WHERE idArticulo = #{value};
    </update>
    
    <update id="marcarVendido" parameterType="integer" >
        UPDATE empenio.articulo
        SET
            vendido = 0 
        WHERE idArticulo = #{value};
    </update>
    
</mapper>