<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Categoria">
    
    <insert id="registrar" parameterType="map">
        INSERT INTO empenio.categorias (nombre, Categorias_idCategoria)
        VALUES(#{nombre}, #{idCategoria});
    </insert>
    
    <delete id="eliminar" parameterType="int">
        DELETE FROM empenio.categorias WHERE idCategoria = #{idCategoria};
    </delete>
    
    <update id="actualizar" parameterType="map">
        UPDATE empenio.categorias SET nombre = #{nombre}, Categorias_idCategoria = #{Categorias_idCategoria}
        WHERE idCategoria = #{idCategoria};    
    </update>
    
    <!--BUSCAR CATEGORIAS DE ROL -->
    <select id="obtenerTodosLosRoles" resultType="modelo.beans.Categoria">
        SELECT * FROM empenio.categorias WHERE Categorias_idCategoria = '1' ORDER BY nombre;
    </select>
    
    <select id="obtenerRolPorID" resultType="modelo.beans.Categoria" parameterType="string">
        SELECT * FROM empenio.categorias WHERE idCategoria = #{idCategoria};
    </select>
    
    <select id="obtenerRolPorNombre" resultType="modelo.beans.Categoria" parameterType="string">
        SELECT * FROM empenio.categorias WHERE nombre = #{nombre};
    </select>
    
    <!--BUSCAR CATEGORIAS DE PRENDAS -->
    <select id="obtenerCategoriasPrincipalesPrendas" resultType="modelo.beans.Categoria">
        SELECT * FROM empenio.categorias 
        WHERE idCategoria = 2 OR idCategoria = 3 ORDER BY nombre;
    </select>
    
    <select id="obtenerSubCategoriasPrendas" resultType="modelo.beans.Categoria">
        SELECT * FROM empenio.categorias 
        WHERE Categorias_idCategoria = '2' OR Categorias_idCategoria = '3'  ORDER BY nombre;
    </select>
    
    <select id="buscarTodasLasCategoriasDePrendas" resultType="modelo.beans.Categoria" >
        SELECT * FROM empenio.categorias WHERE idCategoria = 2 OR idCategoria = 3
        OR Categorias_idCategoria = 2 OR Categorias_idCategoria = 3;
    </select>
    
    <!--BUSCAR CATEGORIAS DE VENTA O APARTADO -->
    <select id="obtenerCategoriasVentaApartado" resultType="modelo.beans.Categoria">
        SELECT * FROM empenio.categorias 
        WHERE Categorias_idCategoria = '4' ORDER BY nombre;
    </select>
    
    <!--BUSCAR CATEGORIAS DE PERIODOS -->
    <select id="obtenerCategoriasPeriodos" resultType="modelo.beans.Categoria">
        SELECT * FROM empenio.categorias
        WHERE Categorias_idCategoria = '5' ORDER BY nombre;
    </select>
    
    <!--BUSCAR CATEGORIAS DE OCUPACIONES -->
    <select id="obtenerCategoriasOcupacion" resultType="modelo.beans.Categoria">
        SELECT * FROM empenio.categorias
        WHERE Categorias_idCategoria = '6' ORDER BY nombre;
    </select>
    
    <!--BUSCAR CATEGORIAS DE FORMA GENERAL -->
    <select id="busquedaGenerica" resultType="modelo.beans.Categoria" parameterType="string">
        SELECT * FROM empenio.categorias
        WHERE #{criterios};
    </select>
    
    <select id="obtenerCategoriaNombre" resultType="modelo.beans.Categoria" parameterType="string">
        SELECT * FROM empenio.categorias 
        WHERE nombre = #{nombre}  ORDER BY nombre;
    </select>
    
    
   
</mapper>
