<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Categoria">
    
    <insert id="registrar" parameterType="map">
        INSERT INTO wspruebas.categoria(nombre, idCategoria)
        VALUES(#{nombre}, #{idcategoria});
    </insert>
    
    
    <select id="buscarCategoriaRoles" resultType="modelo.beans.Categoria" parameterType="string">
        SELECT * FROM empenio.categoria
        WHERE Categorias_idCategoria = 'idCategoria';
    </select>
    
    <select id="getCategoriasPrincipales" resultType="modelo.pojos.Categoria">
        SELECT * FROM wspruebas.categoria WHERE idPadre IS NULL
        ORDER BY nombre;
    </select>
    
    <select id="busquedaGenerica" resultType="modelo.pojos.Categoria" parameterType="string">
        SELECT * FROM wspruebas.categoria
        WHERE #{criterios};
    </select>
    
</mapper>
