<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Cliente">
    
    <select id="getClientes" resultType="modelo.beans.Cliente">
        SELECT 
        cliente.nombre, 
        cliente.apellidoPaterno, 
        cliente.apellidoMaterno, 
        cliente.rfc, cliente.curp, 
        cliente.numeroIdentificacion, 
        cliente.ocupacion AS idOcupacion, 
        categorias.nombre AS nombreOcupacion, 
        cliente.fechaIngreso, 
        cliente.enListaNegra 
        FROM empenio.cliente 
        LEFT OUTER JOIN empenio.categorias ON cliente.ocupacion = categorias.idCategoria;
    </select>
    
    <select id="busqueda" resultType="modelo.beans.Cliente" parameterType="string">
        SELECT 
        cliente.nombre, 
        cliente.apellidoPaterno, 
        cliente.apellidoMaterno, 
        cliente.rfc, cliente.curp, 
        cliente.numeroIdentificacion, 
        cliente.ocupacion AS idOcupacion, 
        categorias.nombre AS nombreOcupacion, 
        cliente.fechaIngreso, 
        cliente.enListaNegra  
        FROM empenio.cliente 
        LEFT OUTER JOIN empenio.categorias ON cliente.ocupacion = categorias.idCategoria WHERE ${value};
    </select>
    
    <select id="getOcupaciones" resultType="modelo.beans.Ocupacion" >
        SELECT categorias.idCategoria, categorias.nombre 
        FROM empenio.categorias 
        WHERE Categorias_idCategoria = 6;
    </select>
    
    <resultMap id="boolResultMap" type="java.util.Map">
        <result column="enListaNegra" jdbcType="BOOLEAN" property="enListaNegra" javaType="Boolean"/>
    </resultMap>
    
    <select id="estaEnListaNegra" resultType="boolean" parameterType="string" >
        SELECT cliente.enListaNegra 
        FROM empenio.cliente 
        WHERE rfc = #{rfc};
    </select>
    
    <insert id="registrar" parameterType="map">
        INSERT INTO 
        empenio.cliente
            (nombre, 
            apellidoPaterno, 
            apellidoMaterno, 
            rfc, 
            curp, 
            numeroIdentificacion, 
            ocupacion, 
            fechaIngreso,
            enListaNegra) 
        VALUES 
            (#{nombre}, 
            #{apellidoPaterno}, 
            #{apellidoMaterno}, 
            #{rfc}, 
            #{curp}, 
            #{numeroIdentificacion}, 
            #{idOcupacion}, 
            NOW(),
            0);
    </insert>
    
    
    <update id="actualizar" parameterType="map">
        UPDATE empenio.cliente 
        SET 
            nombre = #{nombre}, 
            apellidoPaterno = #{apellidoPaterno}, 
            apellidoMaterno = #{apellidoMaterno}, 
            curp = #{curp}, 
            numeroIdentificacion = #{numeroIdentificacion}, 
            ocupacion = #{idOcupacion}
        WHERE rfc = #{rfc};    
    </update>
    
    <update id="enviarAListaNegra" parameterType="string" >
        UPDATE empenio.cliente
        SET
            enListaNegra = 1 
        WHERE rfc = #{value};
    </update>
    
    <update id="sacarDeListaNegra" parameterType="string" >
        UPDATE empenio.cliente
        SET
            enListaNegra = 0 
        WHERE rfc = #{value};
    </update>
    
</mapper>