<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Contrato">
    <insert id="registrarContrato" parameterType="map">
        INSERT INTO empenio.contrato (Cliente_rfc, Usuario_numPersonal,
        interesOrdinario, interesAlmacen, fechaInicio, fechaFin)
        VALUES(#{Cliente_rfc}, #{Usuario_numPersonal}, #{interesOrdinario},
        #{interesAlmacen}, #{fechaInicio}, #{fechaFin});
    </insert>
    
    <select id="obtenerUltimoContrato" resultType="modelo.beans.Contrato">
        SELECT * FROM empenio.contrato ORDER BY idContrato DESC LIMIT 1;
    </select>
    
    <select id="obtenerContratos" resultType="modelo.beans.Contrato">
        SELECT
	contrato.idContrato,
	contrato.fechaFin,
	cliente.nombre,
	cliente.apellidoPaterno,
	cliente.apellidoMaterno 
	FROM empenio.cliente
	INNER JOIN empenio.contrato ON contrato.Cliente_rfc = cliente.rfc;
    </select>
</mapper>
