<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Pago">
    <insert id="registrarPago" parameterType="map">
        INSERT INTO empenio.pago (nombre)
        VALUES(#{nombre});
    </insert>
    
    <select id="obtenerPagos" resultType="modelo.beans.Pago">
        SELECT * FROM empenio.categorias WHERE Categorias_idCategoria = '1' ORDER BY nombre;
    </select>
</mapper>


