<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Pago">
    <insert id="registrarPago" parameterType="map">
        INSERT INTO empenio.pago (fechaInicio, fechaLimite, contrato_idContrato, pago, refrendo, finiquito)
        VALUES(#{fechaInicio}, #{fechaLimite}, #{contrato_idContrato}, #{pago}, #{refrendo}, #{finiquito});
    </insert>
    
    <select id="obtenerPagos" resultType="modelo.beans.Pago" parameterType="int">
        SELECT * FROM empenio.pago WHERE contrato_idContrato = #{contrato_idContrato} ORDER BY contrato_idContrato;
    </select>
</mapper>


