<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Usuario">
    
    <insert id="registrar" parameterType="map">
        INSERT INTO empenio.usuario(nombreCompleto, contrasenia, rol, fechaIngreso)
        VALUES(#{nombreCompleto},#{contrasenia},#{rol},NOW());
    </insert>
    
    <select id="getUsuarios" resultType="modelo.beans.Usuario">
        SELECT * FROM empenio.usuario;
    </select>
    
    <select id="busquedaGenerica" resultType="modelo.beans.Usuario" parameterType="string">
        SELECT * FROM empenio.usuario
        WHERE #{criterios};
    </select>
    
    <select id="buscarUsuarioParaLogin" resultType="int" parameterType="map">
        SELECT COUNT(*) FROM empenio.usuario WHERE numPersonal = #{numPersonal} AND contrasenia = #{contrasenia};
    </select>
    
    <delete id="eliminar" parameterType="int">
        DELETE FROM empenio.usuario WHERE numPersonal = #{numPersonal};
    </delete>
    
    <update id="actualizar" parameterType="map">
        UPDATE empenio.usuario SET nombreCompleto = #{nombreCompleto},
        contrasenia = #{contrasenia}, rol #{rol}
        WHERE numPersonal = #{numPersonal};    
    </update>
       
</mapper>